In [1]:
import pandas as pd
import bokeh
from bokeh.plotting import figure, show, output_file 
from bokeh.models import HoverTool,CrosshairTool, Panel, Tabs
from bokeh.layouts import gridplot
from bokeh.models import Span
from bokeh.io import curdoc
from bokeh.models import Div, RangeSlider, FactorRange, Paragraph
from bokeh.layouts import layout
#file/notebook
output_file("SungaiTemerlohPahang.html")
#output_notebook()

In [2]:
df = pd.read_csv(r"C:\Users\SAIFUL\Desktop\fyp codes\Data By Station Clean\Pah Sg. Temerloh Clean Water Level.csv",index_col=[0],parse_dates=['Date'])

In [3]:
df.dtypes

Date                datetime64[ns]
Sg. Temerloh (m)           float64
dtype: object

In [4]:
#sorting value 
df = df.sort_values(['Date'], ascending=[True])

In [5]:
df.head()

          Date  Sg. Temerloh (m)
305 2016-01-11             23.50
335 2016-01-12             24.68
306 2016-02-11             23.41
336 2016-02-12             24.71
307 2016-03-11             23.53

In [6]:
df.tail()

           Date  Sg. Temerloh (m)
1654 2020-12-07             24.76
1685 2020-12-08             23.77
1716 2020-12-09             24.68
1746 2020-12-10             23.98
1777 2020-12-11             26.24

In [7]:
#sorting from 2019 until 2020
WaterLevelIn2020 = df[(df['Date'] >= '2020-01-01') & (df['Date'] <= '2020-12-31')]
WaterLevelIn2019 = df[(df['Date'] >= '2019-01-01') & (df['Date'] <= '2019-12-31')]
WaterLevelIn2018 = df[(df['Date'] >= '2018-01-01') & (df['Date'] <= '2018-12-31')]

In [8]:
#set new index for prediction comparison
NewWaterLevelIn2020=WaterLevelIn2020
NewWaterLevelIn2020.head()

           Date  Sg. Temerloh (m)
1461 2020-01-01             24.82
1492 2020-01-02             24.64
1521 2020-01-03             23.50
1552 2020-01-04             23.22
1582 2020-01-05             24.15

In [9]:
NewWaterLevelIn2020.insert(0, 'New_ID', range(1, 1 + len(NewWaterLevelIn2020)))
NewWaterLevelIn2020.head()

      New_ID       Date  Sg. Temerloh (m)
1461       1 2020-01-01             24.82
1492       2 2020-01-02             24.64
1521       3 2020-01-03             23.50
1552       4 2020-01-04             23.22
1582       5 2020-01-05             24.15

In [10]:
#load prediction dataset
import pickle
#to load the prediction model
with open (r'C:\Users\SAIFUL\Desktop\fyp codes\Prediction Model New\WLP Sg. Pahang, Temerloh. Pahang', 'rb') as f:
  WaterLevelPrediction = pickle.load(f)

In [11]:
WaterLevelPrediction

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2016-01-11,23.783790,21.691582,25.717867,23.783790,23.783790,0.004929,0.004929,0.004929,0.000247,0.000247,0.000247,0.004682,0.004682,0.004682,0.0,0.0,0.0,23.788719
1,2016-01-12,23.787053,21.808691,25.994701,23.787053,23.787053,0.045591,0.045591,0.045591,0.004882,0.004882,0.004882,0.040709,0.040709,0.040709,0.0,0.0,0.0,23.832644
2,2016-02-11,23.884924,21.705958,25.924860,23.884924,23.884924,-0.048394,-0.048394,-0.048394,0.009115,0.009115,0.009115,-0.057509,-0.057509,-0.057509,0.0,0.0,0.0,23.836530
3,2016-02-12,23.888186,21.545899,25.825324,23.888186,23.888186,-0.135231,-0.135231,-0.135231,0.004775,0.004775,0.004775,-0.140007,-0.140007,-0.140007,0.0,0.0,0.0,23.752955
4,2016-03-11,23.979532,21.667879,25.697794,23.979532,23.979532,-0.331192,-0.331192,-0.331192,0.004775,0.004775,0.004775,-0.335967,-0.335967,-0.335967,0.0,0.0,0.0,23.648340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2962,2024-12-06,26.211499,22.396631,30.527212,22.677819,29.489878,0.430423,0.430423,0.430423,0.004775,0.004775,0.004775,0.425648,0.425648,0.425648,0.0,0.0,0.0,26.641922
2963,2024-12-07,26.212412,22.483178,30.617615,22.674222,29.495197,0.470816,0.470816,0.470816,0.008294,0.008294,0.008294,0.462522,0.462522,0.462522,0.0,0.0,0.0,26.683228
2964,2024-12-08,26.213324,22.627544,30.647659,22.670625,29.500516,0.540162,0.540162,0.540162,0.037645,0.037645,0.037645,0.502517,0.502517,0.502517,0.0,0.0,0.0,26.753486
2965,2024-12-09,26.214237,22.452612,30.935723,22.667028,29.505835,0.544795,0.544795,0.544795,0.000247,0.000247,0.000247,0.544548,0.544548,0.544548,0.0,0.0,0.0,26.759032
2966,2024-12-10,26.215149,22.691509,30.562639,22.663431,29.511154,0.592307,0.592307,0.592307,0.004882,0.004882,0.004882,0.587425,0.587425,0.587425,0.0,0.0,0.0,26.807456

In [12]:
#sorting current year until future 
FutureWaterLevel = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2022-01-01') & (WaterLevelPrediction['ds'] <= '2024-12-31')]
FutureWaterLevel.tail()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2962,2024-12-06,26.211499,22.396631,30.527212,22.677819,29.489878,0.430423,0.430423,0.430423,0.004775,0.004775,0.004775,0.425648,0.425648,0.425648,0.0,0.0,0.0,26.641922
2963,2024-12-07,26.212412,22.483178,30.617615,22.674222,29.495197,0.470816,0.470816,0.470816,0.008294,0.008294,0.008294,0.462522,0.462522,0.462522,0.0,0.0,0.0,26.683228
2964,2024-12-08,26.213324,22.627544,30.647659,22.670625,29.500516,0.540162,0.540162,0.540162,0.037645,0.037645,0.037645,0.502517,0.502517,0.502517,0.0,0.0,0.0,26.753486
2965,2024-12-09,26.214237,22.452612,30.935723,22.667028,29.505835,0.544795,0.544795,0.544795,0.000247,0.000247,0.000247,0.544548,0.544548,0.544548,0.0,0.0,0.0,26.759032
2966,2024-12-10,26.215149,22.691509,30.562639,22.663431,29.511154,0.592307,0.592307,0.592307,0.004882,0.004882,0.004882,0.587425,0.587425,0.587425,0.0,0.0,0.0,26.807456

In [13]:
FutureWaterLevel.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
1892,2022-01-01,25.235060,23.228369,27.481752,24.741776,25.703827,0.193616,0.193616,0.193616,0.008294,0.008294,0.008294,0.185322,0.185322,0.185322,0.0,0.0,0.0,25.428675
1893,2022-01-02,25.235972,23.403510,27.489458,24.740511,25.707354,0.166212,0.166212,0.166212,0.037645,0.037645,0.037645,0.128567,0.128567,0.128567,0.0,0.0,0.0,25.402184
1894,2022-01-03,25.236885,23.148942,27.404981,24.738917,25.710881,0.078367,0.078367,0.078367,0.000247,0.000247,0.000247,0.078120,0.078120,0.078120,0.0,0.0,0.0,25.315251
1895,2022-01-04,25.237797,23.171257,27.405569,24.737322,25.714409,0.040231,0.040231,0.040231,0.004882,0.004882,0.004882,0.035349,0.035349,0.035349,0.0,0.0,0.0,25.278028
1896,2022-01-05,25.238710,23.063347,27.179944,24.735728,25.717936,-0.063508,-0.063508,-0.063508,-0.064958,-0.064958,-0.064958,0.001450,0.001450,0.001450,0.0,0.0,0.0,25.175202

In [14]:
#sorting water level prediction by year

PredictionWaterLevelIn2022 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2022-01-01') & (WaterLevelPrediction['ds'] <= '2022-12-31')]

PredictionWaterLevelIn2023 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2023-01-01') & (WaterLevelPrediction['ds'] <= '2023-12-31')]

PredictionWaterLevelIn2024 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2024-01-01') & (WaterLevelPrediction['ds'] <= '2024-12-31')]

In [15]:
PredictionWaterLevelIn2024

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2622,2024-01-01,25.901229,22.831241,29.347047,23.578345,28.135954,0.215844,0.215844,0.215844,0.000247,0.000247,0.000247,0.215597,0.215597,0.215597,0.0,0.0,0.0,26.117073
2623,2024-01-02,25.902141,23.005922,29.209557,23.575725,28.139695,0.161130,0.161130,0.161130,0.004882,0.004882,0.004882,0.156248,0.156248,0.156248,0.0,0.0,0.0,26.063271
2624,2024-01-03,25.903054,22.741491,28.945939,23.573104,28.143436,0.037508,0.037508,0.037508,-0.064958,-0.064958,-0.064958,0.102466,0.102466,0.102466,0.0,0.0,0.0,25.940562
2625,2024-01-04,25.903966,22.719407,29.113821,23.570484,28.147178,0.064810,0.064810,0.064810,0.009115,0.009115,0.009115,0.055695,0.055695,0.055695,0.0,0.0,0.0,25.968777
2626,2024-01-05,25.904879,22.712453,28.819207,23.567864,28.150919,0.021999,0.021999,0.021999,0.004775,0.004775,0.004775,0.017224,0.017224,0.017224,0.0,0.0,0.0,25.926878
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2962,2024-12-06,26.211499,22.396631,30.527212,22.677819,29.489878,0.430423,0.430423,0.430423,0.004775,0.004775,0.004775,0.425648,0.425648,0.425648,0.0,0.0,0.0,26.641922
2963,2024-12-07,26.212412,22.483178,30.617615,22.674222,29.495197,0.470816,0.470816,0.470816,0.008294,0.008294,0.008294,0.462522,0.462522,0.462522,0.0,0.0,0.0,26.683228
2964,2024-12-08,26.213324,22.627544,30.647659,22.670625,29.500516,0.540162,0.540162,0.540162,0.037645,0.037645,0.037645,0.502517,0.502517,0.502517,0.0,0.0,0.0,26.753486
2965,2024-12-09,26.214237,22.452612,30.935723,22.667028,29.505835,0.544795,0.544795,0.544795,0.000247,0.000247,0.000247,0.544548,0.544548,0.544548,0.0,0.0,0.0,26.759032
2966,2024-12-10,26.215149,22.691509,30.562639,22.663431,29.511154,0.592307,0.592307,0.592307,0.004882,0.004882,0.004882,0.587425,0.587425,0.587425,0.0,0.0,0.0,26.807456

In [16]:
#set new_id as index
PredictionWaterLevelIn2022.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2022)))
PredictionWaterLevelIn2022.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
1892,1,2022-01-01,25.235060,23.228369,27.481752,24.741776,25.703827,0.193616,0.193616,0.193616,0.008294,0.008294,0.008294,0.185322,0.185322,0.185322,0.0,0.0,0.0,25.428675
1893,2,2022-01-02,25.235972,23.403510,27.489458,24.740511,25.707354,0.166212,0.166212,0.166212,0.037645,0.037645,0.037645,0.128567,0.128567,0.128567,0.0,0.0,0.0,25.402184
1894,3,2022-01-03,25.236885,23.148942,27.404981,24.738917,25.710881,0.078367,0.078367,0.078367,0.000247,0.000247,0.000247,0.078120,0.078120,0.078120,0.0,0.0,0.0,25.315251
1895,4,2022-01-04,25.237797,23.171257,27.405569,24.737322,25.714409,0.040231,0.040231,0.040231,0.004882,0.004882,0.004882,0.035349,0.035349,0.035349,0.0,0.0,0.0,25.278028
1896,5,2022-01-05,25.238710,23.063347,27.179944,24.735728,25.717936,-0.063508,-0.063508,-0.063508,-0.064958,-0.064958,-0.064958,0.001450,0.001450,0.001450,0.0,0.0,0.0,25.175202

In [17]:
#set new_id as index
PredictionWaterLevelIn2023.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2023)))
PredictionWaterLevelIn2023.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2257,1,2023-01-01,25.568144,23.290408,28.234614,24.304876,26.862475,0.237966,0.237966,0.237966,0.037645,0.037645,0.037645,0.200321,0.200321,0.200321,0.0,0.0,0.0,25.806110
2258,2,2023-01-02,25.569057,23.236671,28.142268,24.303042,26.866858,0.142469,0.142469,0.142469,0.000247,0.000247,0.000247,0.142222,0.142222,0.142222,0.0,0.0,0.0,25.711526
2259,3,2023-01-03,25.569969,23.284011,28.159534,24.301208,26.871242,0.094945,0.094945,0.094945,0.004882,0.004882,0.004882,0.090063,0.090063,0.090063,0.0,0.0,0.0,25.664914
2260,4,2023-01-04,25.570882,23.104161,27.970637,24.299373,26.875625,-0.019705,-0.019705,-0.019705,-0.064958,-0.064958,-0.064958,0.045253,0.045253,0.045253,0.0,0.0,0.0,25.551177
2261,5,2023-01-05,25.571794,23.261509,28.120367,24.296805,26.880008,0.018150,0.018150,0.018150,0.009115,0.009115,0.009115,0.009035,0.009035,0.009035,0.0,0.0,0.0,25.589945

In [18]:
#set new_id as index
PredictionWaterLevelIn2024.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2024)))
PredictionWaterLevelIn2024.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2622,1,2024-01-01,25.901229,22.831241,29.347047,23.578345,28.135954,0.215844,0.215844,0.215844,0.000247,0.000247,0.000247,0.215597,0.215597,0.215597,0.0,0.0,0.0,26.117073
2623,2,2024-01-02,25.902141,23.005922,29.209557,23.575725,28.139695,0.161130,0.161130,0.161130,0.004882,0.004882,0.004882,0.156248,0.156248,0.156248,0.0,0.0,0.0,26.063271
2624,3,2024-01-03,25.903054,22.741491,28.945939,23.573104,28.143436,0.037508,0.037508,0.037508,-0.064958,-0.064958,-0.064958,0.102466,0.102466,0.102466,0.0,0.0,0.0,25.940562
2625,4,2024-01-04,25.903966,22.719407,29.113821,23.570484,28.147178,0.064810,0.064810,0.064810,0.009115,0.009115,0.009115,0.055695,0.055695,0.055695,0.0,0.0,0.0,25.968777
2626,5,2024-01-05,25.904879,22.712453,28.819207,23.567864,28.150919,0.021999,0.021999,0.021999,0.004775,0.004775,0.004775,0.017224,0.017224,0.017224,0.0,0.0,0.0,25.926878

In [19]:
PredictionWaterLevelIn2024.tail()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2962,341,2024-12-06,26.211499,22.396631,30.527212,22.677819,29.489878,0.430423,0.430423,0.430423,0.004775,0.004775,0.004775,0.425648,0.425648,0.425648,0.0,0.0,0.0,26.641922
2963,342,2024-12-07,26.212412,22.483178,30.617615,22.674222,29.495197,0.470816,0.470816,0.470816,0.008294,0.008294,0.008294,0.462522,0.462522,0.462522,0.0,0.0,0.0,26.683228
2964,343,2024-12-08,26.213324,22.627544,30.647659,22.670625,29.500516,0.540162,0.540162,0.540162,0.037645,0.037645,0.037645,0.502517,0.502517,0.502517,0.0,0.0,0.0,26.753486
2965,344,2024-12-09,26.214237,22.452612,30.935723,22.667028,29.505835,0.544795,0.544795,0.544795,0.000247,0.000247,0.000247,0.544548,0.544548,0.544548,0.0,0.0,0.0,26.759032
2966,345,2024-12-10,26.215149,22.691509,30.562639,22.663431,29.511154,0.592307,0.592307,0.592307,0.004882,0.004882,0.004882,0.587425,0.587425,0.587425,0.0,0.0,0.0,26.807456

In [20]:
#rename ds as Date
PredictionWaterLevelIn2022=PredictionWaterLevelIn2022.rename(columns={'ds': 'Date'})
PredictionWaterLevelIn2023=PredictionWaterLevelIn2023.rename(columns={'ds': 'Date'})
PredictionWaterLevelIn2024=PredictionWaterLevelIn2024.rename(columns={'ds': 'Date'})

In [21]:
PredictionWaterLevelIn2024.dtypes

New_ID                                 int32
Date                          datetime64[ns]
trend                                float64
yhat_lower                           float64
yhat_upper                           float64
trend_lower                          float64
trend_upper                          float64
additive_terms                       float64
additive_terms_lower                 float64
additive_terms_upper                 float64
weekly                               float64
weekly_lower                         float64
weekly_upper                         float64
yearly                               float64
yearly_lower                         float64
yearly_upper                         float64
multiplicative_terms                 float64
multiplicative_terms_lower           float64
multiplicative_terms_upper           float64
yhat                                 float64
dtype: object

In [22]:
df.dtypes

Date                datetime64[ns]
Sg. Temerloh (m)           float64
dtype: object

In [23]:
#plotting from 2016 until 2020
#create and configure the figure
PlotAll = figure(
    x_axis_type='datetime',
    plot_width = 800, plot_height = 450,
    x_axis_label='Date', y_axis_label='Water Level (m)')



#Render the water level as step lines
PlotAll.line('Date', 'Sg. Temerloh (m)',legend_label='Water Level',
               line_width=2,
              source=df)



# add hover tool
PlotAll.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Temerloh (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))


# change headline text
PlotAll.title.text = "Water Level in Sungai Temerloh, Pahang From 2016 to 2020"

# style the headline
PlotAll.title.text_font_size = "15px"
PlotAll.title.align = "center"
PlotAll.title.text_color = "black"


#########################################plotting by years######################################################################
#create and configure the figure
plot2020 = figure(
    x_axis_type='datetime',plot_width = 1450, plot_height = 400,
    x_axis_label='Date', y_axis_label='Water Level (m)')

plot2019 = figure(
    x_axis_type='datetime',plot_width = 1450, plot_height = 400,
    x_axis_label='Date', y_axis_label='Water Level (m)')

plot2018 = figure(
    x_axis_type='datetime',plot_width = 1450, plot_height = 400,
    x_axis_label='Date', y_axis_label='Water Level (m)')



#Render the water level as step lines
plot2020.line('Date', 'Sg. Temerloh (m)',legend_label='Water Level in 2020',line_width=2,source=WaterLevelIn2020)
#mean
plot2020.line('Date', df['Sg. Temerloh (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2020)


tab1 = Panel(child=plot2020, title="2020")

plot2019.line('Date', 'Sg. Temerloh (m)',legend_label='Water Level in 2019',line_width=2,source=WaterLevelIn2019)
#mean
plot2019.line('Date', df['Sg. Temerloh (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2019)

tab2 = Panel(child=plot2019, title="2019")

plot2018.line('Date', 'Sg. Temerloh (m)',legend_label='Water Level in 2018',line_width=2,source=WaterLevelIn2018)
#mean
plot2018.line('Date', df['Sg. Temerloh (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2018)

tab3 = Panel(child=plot2018, title="2018")

tabs = Tabs(tabs=[tab1,tab2,tab3])

# add hover tool
plot2020.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Temerloh (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))

plot2019.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Temerloh (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))

plot2018.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Temerloh (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))


# change headline text
# style the headline
plot2020.title.text = "Water Level in Sungai Temerloh, Pahang in 2020"
plot2020.title.text_font_size = "15px"
plot2020.title.align = "center"
plot2020.title.text_color = "black"

# change headline text
# style the headline
plot2019.title.text = "Water Level in Sungai Temerloh, Pahang in 2019"
plot2019.title.text_font_size = "15px"
plot2019.title.align = "center"
plot2019.title.text_color = "black"

# change headline text
# style the headline
plot2018.title.text = "Water Level in Sungai Temerloh, Pahang in 2018"
plot2018.title.text_font_size = "15px"
plot2018.title.align = "center"
plot2018.title.text_color = "black"



########################################Bar chart min max#######################################################################

factors = [
    ("2016", "min"), ("2016", "max"),
    ("2017", "min"), ("2017", "max"), 
    ("2018", "min"), ("2018", "max"), 
    ("2019", "min"), ("2019", "max"), 
    ("2020", "min"), ("2020", "max"),

]

barMinMax = figure(x_range=FactorRange(*factors), plot_height=750, x_axis_label='Year', y_axis_label='Water Level (m)')

x = [ 22.99,26.75, #2016
     23.66,32.95,  #2017
     23.23,31.34,  #2018
     22.97,30.04,  #2019
    23.18,27.97]   #2020
barMinMax.vbar(x=factors, top=x, width=0.9)

qs, aves = ["2016", "2017", "2018", "2019","2020"], [22.99, 23.66, 23.23, 22.97,23.18]
barMinMax.line(x=qs, y=aves, color="red", line_width=2,legend_label='Maximun')
barMinMax.circle(x=qs, y=aves, line_color="red", fill_color="white", size=10)

qs, aves = ["2016", "2017", "2018", "2019","2020"], [26.75, 32.95, 31.34, 30.04,27.97]
barMinMax.line(x=qs, y=aves, color="blue", line_width=2,legend_label='Minimun')
barMinMax.circle(x=qs, y=aves, line_color="red", fill_color="white", size=10)

barMinMax.y_range.start = 0
barMinMax.x_range.range_padding = 0.1
barMinMax.xaxis.major_label_orientation = 1
barMinMax.xgrid.grid_line_color = None

# add hover tool
barMinMax.add_tools(HoverTool(tooltips=[
           ('Sg. Temerloh (m)', '$y{(0.00)}'),   
            ]                       
         ))

# change headline text
# style the headline
barMinMax.title.text = "Minimun and Maximun Water Level in Sungai Temerloh, Pahang"
barMinMax.title.text_font_size = "15px"
barMinMax.title.align = "center"
barMinMax.title.text_color = "black"

#div text
div1 = Paragraph(text="")
######################################future water level######################################################################
PlotAllPrediction = figure(
    x_axis_type='datetime',
    plot_width = 800, plot_height = 450,
    x_axis_label='Date', y_axis_label='Water Level (m)')

PlotAllPrediction.line('ds','yhat',legend_label='Future Water Level Until 2024', 
                    line_width=2, source= FutureWaterLevel)

# add hover tool
PlotAllPrediction.add_tools(HoverTool(tooltips=[('date', '@ds{%F}'),
            ('Sg. Temerloh (m)', '$y')],
          formatters={'@ds': 'datetime'}))


# change headline text
PlotAllPrediction.title.text = "Future Water Level until 2024"

# style the headline
PlotAllPrediction.title.text_font_size = "15px"
PlotAllPrediction.title.align = "center"
PlotAllPrediction.title.text_color = "black"


#div text

div = Div(text="<b>Model Prediction With 1.06% Error Rate</b>")

######################################compare prediction plotting#######################################################################
multi_line_plot1 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot1.line('New_ID','yhat',legend_label='Water Level in 2022', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2022)

multi_line_plot1.line('New_ID','Sg. Temerloh (m)',legend_label='Water Level In 2020', 
                    line_width=2, source= NewWaterLevelIn2020)

tab4 = Panel(child=multi_line_plot1, title="2020 vs 2022")

# add hover tool
multi_line_plot1.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Temerloh (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot1.title.text = "Comparisson Water Level in 2020 with Future Water Level"

# style the headline
multi_line_plot1.title.text_font_size = "15px"
multi_line_plot1.title.align = "center"
multi_line_plot1.title.text_color = "black"

#########################################################2023

multi_line_plot2 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot2.line('New_ID','yhat',legend_label='Water Level in 2023', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2023)

multi_line_plot2.line('New_ID','Sg. Temerloh (m)',legend_label='Water Level In 2020', 
                    line_width=2, source= NewWaterLevelIn2020)

tab5 = Panel(child=multi_line_plot2, title="2020 vs 2023")

# add hover tool
multi_line_plot2.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Temerloh (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot2.title.text = "Comparisson Water Level in 2020 with Future Water Level"

# style the headline
multi_line_plot2.title.text_font_size = "15px"
multi_line_plot2.title.align = "center"
multi_line_plot2.title.text_color = "black"


#########################################################2024
multi_line_plot3 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot3.line('New_ID','yhat',legend_label='Water Level in 2024', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2024)

multi_line_plot3.line('New_ID','Sg. Temerloh (m)',legend_label='Water Level In 2020', 
                    line_width=2, source= NewWaterLevelIn2020)

tab6 = Panel(child=multi_line_plot3, title="2020 vs 2024")

# add hover tool
multi_line_plot3.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Temerloh (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot3.title.text = "Comparisson Water Level in 2020 with Future Water Level"

# style the headline
multi_line_plot3.title.text_font_size = "15px"
multi_line_plot3.title.align = "center"
multi_line_plot3.title.text_color = "black"


tabs2 = Tabs(tabs=[tab4,tab5,tab6],sizing_mode='stretch_both')

#############################################################crosshairtool########################################################
cross1 = CrosshairTool()
PlotAll.add_tools(cross1)

cross1 = CrosshairTool()
plot2020.add_tools(cross1)

cross1 = CrosshairTool()
plot2019.add_tools(cross1)

cross1 = CrosshairTool()
plot2018.add_tools(cross1)


cross1 = CrosshairTool()
PlotAllPrediction.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot1.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot2.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot3.add_tools(cross1)
#############################################################plot layout########################################################


# apply theme to current document
curdoc().theme = "light_minimal"

l = layout([
  [PlotAll],
  [tabs],
    [div1],
  [barMinMax],
  [div],
  [PlotAllPrediction],
  [tabs2],
], sizing_mode='stretch_both')

show(l)

In [24]:
#1.063882066903763 error mean