In [1]:
import pandas as pd
import bokeh
from bokeh.plotting import figure, show, output_file
from bokeh.models import HoverTool,CrosshairTool, Panel, Tabs, Column
from bokeh.layouts import gridplot
from bokeh.models import Span
from bokeh.io import curdoc
from bokeh.models import Div, RangeSlider,FactorRange, Paragraph
from bokeh.layouts import layout
#file/notebook
output_file("SungaiBesutJerteh.html")
#output_notebook()

In [2]:
df = pd.read_csv(r"C:\Users\SAIFUL\Desktop\fyp codes\Data By Station Clean\Ter Sg. Besut Jerteh Clean Water Level.csv",index_col=[0],parse_dates=['Date'])

In [3]:
df.dtypes

Date                    datetime64[ns]
Sg. Besut Jerteh (m)           float64
dtype: object

In [4]:
df.head()

        Date  Sg. Besut Jerteh (m)
0 2016-01-01                  2.16
1 2016-02-01                  0.79
2 2016-03-01                  0.82
3 2016-04-01                  0.56
4 2016-05-01                  0.47

In [5]:
df.tail()

           Date  Sg. Besut Jerteh (m)
1822 2020-12-27                  1.57
1823 2020-12-28                  1.00
1824 2020-12-29                  1.14
1825 2020-12-30                  1.14
1826 2020-12-31                  1.14

In [6]:
#sorting value 
df = df.sort_values(['Date'], ascending=[True])

In [7]:
df

           Date  Sg. Besut Jerteh (m)
0    2016-01-01                  2.16
31   2016-01-02                  1.20
60   2016-01-03                  0.80
91   2016-01-04                  0.45
121  2016-01-05                  0.35
...         ...                   ...
1822 2020-12-27                  1.57
1823 2020-12-28                  1.00
1824 2020-12-29                  1.14
1825 2020-12-30                  1.14
1826 2020-12-31                  1.14

[1827 rows x 2 columns]

In [8]:
df['Sg. Besut Jerteh (m)'].mean()

1.4263765736179506

In [9]:
#sorting from 2020 2018 
WaterLevelIn2020 = df[(df['Date'] >= '2020-01-01') & (df['Date'] <= '2020-12-31')]
WaterLevelIn2019 = df[(df['Date'] >= '2019-01-01') & (df['Date'] <= '2019-12-31')]
WaterLevelIn2018 = df[(df['Date'] >= '2018-01-01') & (df['Date'] <= '2018-12-31')]

In [10]:
#set new index for prediction comparison
NewWaterLevelIn2020=WaterLevelIn2020
NewWaterLevelIn2020.head()

           Date  Sg. Besut Jerteh (m)
1461 2020-01-01                  2.09
1492 2020-01-02                  1.88
1521 2020-01-03                  1.30
1552 2020-01-04                  1.10
1582 2020-01-05                  1.08

In [11]:
NewWaterLevelIn2020.insert(0, 'New_ID', range(1, 1 + len(NewWaterLevelIn2020)))
NewWaterLevelIn2020.head()

      New_ID       Date  Sg. Besut Jerteh (m)
1461       1 2020-01-01                  2.09
1492       2 2020-01-02                  1.88
1521       3 2020-01-03                  1.30
1552       4 2020-01-04                  1.10
1582       5 2020-01-05                  1.08

In [12]:
#load prediction dataset
import pickle
#to load the prediction model
with open (r'C:\Users\SAIFUL\Desktop\fyp codes\Prediction Model new\WLP Sg. Besut, Jerteh', 'rb') as f:
  WaterLevelPrediction = pickle.load(f)

In [13]:
WaterLevelPrediction

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2016-01-01,0.595543,-1.008386,2.157090,0.595543,0.595543,-0.082290,-0.082290,-0.082290,-0.048760,-0.048760,-0.048760,-0.033530,-0.033530,-0.033530,0.0,0.0,0.0,0.513253
1,2016-01-02,0.596453,-0.921882,2.038116,0.596453,0.596453,-0.005674,-0.005674,-0.005674,0.021156,0.021156,0.021156,-0.026830,-0.026830,-0.026830,0.0,0.0,0.0,0.590779
2,2016-01-03,0.597362,-1.023863,2.113126,0.597362,0.597362,-0.008449,-0.008449,-0.008449,0.005210,0.005210,0.005210,-0.013658,-0.013658,-0.013658,0.0,0.0,0.0,0.588913
3,2016-01-04,0.598272,-0.962080,2.113944,0.598272,0.598272,-0.034041,-0.034041,-0.034041,-0.039973,-0.039973,-0.039973,0.005933,0.005933,0.005933,0.0,0.0,0.0,0.564231
4,2016-01-05,0.599181,-0.886944,2.175614,0.599181,0.599181,0.060288,0.060288,0.060288,0.028557,0.028557,0.028557,0.031731,0.031731,0.031731,0.0,0.0,0.0,0.659469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,2024-12-26,1.702112,0.037954,3.364489,1.020044,2.456407,0.053966,0.053966,0.053966,0.027184,0.027184,0.027184,0.026783,0.026783,0.026783,0.0,0.0,0.0,1.756079
3283,2024-12-27,1.701994,0.003552,3.327596,1.019221,2.457056,-0.043988,-0.043988,-0.043988,-0.048760,-0.048760,-0.048760,0.004772,0.004772,0.004772,0.0,0.0,0.0,1.658006
3284,2024-12-28,1.701875,-0.039715,3.407184,1.018398,2.457705,0.008178,0.008178,0.008178,0.021156,0.021156,0.021156,-0.012978,-0.012978,-0.012978,0.0,0.0,0.0,1.710053
3285,2024-12-29,1.701757,-0.073149,3.375718,1.017575,2.458349,-0.020550,-0.020550,-0.020550,0.005210,0.005210,0.005210,-0.025760,-0.025760,-0.025760,0.0,0.0,0.0,1.681207
3286,2024-12-30,1.701638,0.030953,3.373159,1.016753,2.458987,-0.072959,-0.072959,-0.072959,-0.039973,-0.039973,-0.039973,-0.032985,-0.032985,-0.032985,0.0,0.0,0.0,1.628679

In [14]:
#sorting current year until future 
FutureWaterLevel = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2022-01-01') & (WaterLevelPrediction['ds'] <= '2024-12-31')]
FutureWaterLevel.tail()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
3282,2024-12-26,1.702112,0.037954,3.364489,1.020044,2.456407,0.053966,0.053966,0.053966,0.027184,0.027184,0.027184,0.026783,0.026783,0.026783,0.0,0.0,0.0,1.756079
3283,2024-12-27,1.701994,0.003552,3.327596,1.019221,2.457056,-0.043988,-0.043988,-0.043988,-0.048760,-0.048760,-0.048760,0.004772,0.004772,0.004772,0.0,0.0,0.0,1.658006
3284,2024-12-28,1.701875,-0.039715,3.407184,1.018398,2.457705,0.008178,0.008178,0.008178,0.021156,0.021156,0.021156,-0.012978,-0.012978,-0.012978,0.0,0.0,0.0,1.710053
3285,2024-12-29,1.701757,-0.073149,3.375718,1.017575,2.458349,-0.020550,-0.020550,-0.020550,0.005210,0.005210,0.005210,-0.025760,-0.025760,-0.025760,0.0,0.0,0.0,1.681207
3286,2024-12-30,1.701638,0.030953,3.373159,1.016753,2.458987,-0.072959,-0.072959,-0.072959,-0.039973,-0.039973,-0.039973,-0.032985,-0.032985,-0.032985,0.0,0.0,0.0,1.628679

In [15]:
FutureWaterLevel.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2192,2022-01-01,1.831430,0.322724,3.430972,1.728001,1.933919,-0.009830,-0.009830,-0.009830,0.021156,0.021156,0.021156,-0.030986,-0.030986,-0.030986,0.0,0.0,0.0,1.821600
2193,2022-01-02,1.831311,0.234059,3.218597,1.727492,1.934106,-0.015844,-0.015844,-0.015844,0.005210,0.005210,0.005210,-0.021054,-0.021054,-0.021054,0.0,0.0,0.0,1.815467
2194,2022-01-03,1.831192,0.339955,3.374439,1.727110,1.934294,-0.044629,-0.044629,-0.044629,-0.039973,-0.039973,-0.039973,-0.004656,-0.004656,-0.004656,0.0,0.0,0.0,1.786563
2195,2022-01-04,1.831074,0.384917,3.492746,1.726729,1.934481,0.046632,0.046632,0.046632,0.028557,0.028557,0.028557,0.018075,0.018075,0.018075,0.0,0.0,0.0,1.877706
2196,2022-01-05,1.830955,0.345682,3.432874,1.726347,1.934669,0.053476,0.053476,0.053476,0.006627,0.006627,0.006627,0.046850,0.046850,0.046850,0.0,0.0,0.0,1.884431

In [16]:
#sorting water level prediction by year

PredictionWaterLevelIn2022 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2022-01-01') & (WaterLevelPrediction['ds'] <= '2022-12-31')]

PredictionWaterLevelIn2023 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2023-01-01') & (WaterLevelPrediction['ds'] <= '2023-12-31')]

PredictionWaterLevelIn2024 = WaterLevelPrediction[(WaterLevelPrediction['ds'] >= '2024-01-01') & (WaterLevelPrediction['ds'] <= '2024-12-31')]

In [17]:
PredictionWaterLevelIn2024

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2922,2024-01-01,1.744823,0.025300,3.288134,1.289908,2.233899,-0.073504,-0.073504,-0.073504,-0.039973,-0.039973,-0.039973,-0.033530,-0.033530,-0.033530,0.0,0.0,0.0,1.671319
2923,2024-01-02,1.744704,0.142840,3.401165,1.289119,2.234527,0.001727,0.001727,0.001727,0.028557,0.028557,0.028557,-0.026830,-0.026830,-0.026830,0.0,0.0,0.0,1.746431
2924,2024-01-03,1.744585,0.101082,3.238820,1.288331,2.235016,-0.007032,-0.007032,-0.007032,0.006627,0.006627,0.006627,-0.013658,-0.013658,-0.013658,0.0,0.0,0.0,1.737554
2925,2024-01-04,1.744467,0.268061,3.495376,1.287542,2.235505,0.033116,0.033116,0.033116,0.027184,0.027184,0.027184,0.005933,0.005933,0.005933,0.0,0.0,0.0,1.777583
2926,2024-01-05,1.744348,0.004232,3.394874,1.286753,2.235994,-0.017029,-0.017029,-0.017029,-0.048760,-0.048760,-0.048760,0.031731,0.031731,0.031731,0.0,0.0,0.0,1.727320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,2024-12-26,1.702112,0.037954,3.364489,1.020044,2.456407,0.053966,0.053966,0.053966,0.027184,0.027184,0.027184,0.026783,0.026783,0.026783,0.0,0.0,0.0,1.756079
3283,2024-12-27,1.701994,0.003552,3.327596,1.019221,2.457056,-0.043988,-0.043988,-0.043988,-0.048760,-0.048760,-0.048760,0.004772,0.004772,0.004772,0.0,0.0,0.0,1.658006
3284,2024-12-28,1.701875,-0.039715,3.407184,1.018398,2.457705,0.008178,0.008178,0.008178,0.021156,0.021156,0.021156,-0.012978,-0.012978,-0.012978,0.0,0.0,0.0,1.710053
3285,2024-12-29,1.701757,-0.073149,3.375718,1.017575,2.458349,-0.020550,-0.020550,-0.020550,0.005210,0.005210,0.005210,-0.025760,-0.025760,-0.025760,0.0,0.0,0.0,1.681207
3286,2024-12-30,1.701638,0.030953,3.373159,1.016753,2.458987,-0.072959,-0.072959,-0.072959,-0.039973,-0.039973,-0.039973,-0.032985,-0.032985,-0.032985,0.0,0.0,0.0,1.628679

In [18]:
#set new_id as index
PredictionWaterLevelIn2022.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2022)))
PredictionWaterLevelIn2022.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2192,1,2022-01-01,1.831430,0.322724,3.430972,1.728001,1.933919,-0.009830,-0.009830,-0.009830,0.021156,0.021156,0.021156,-0.030986,-0.030986,-0.030986,0.0,0.0,0.0,1.821600
2193,2,2022-01-02,1.831311,0.234059,3.218597,1.727492,1.934106,-0.015844,-0.015844,-0.015844,0.005210,0.005210,0.005210,-0.021054,-0.021054,-0.021054,0.0,0.0,0.0,1.815467
2194,3,2022-01-03,1.831192,0.339955,3.374439,1.727110,1.934294,-0.044629,-0.044629,-0.044629,-0.039973,-0.039973,-0.039973,-0.004656,-0.004656,-0.004656,0.0,0.0,0.0,1.786563
2195,4,2022-01-04,1.831074,0.384917,3.492746,1.726729,1.934481,0.046632,0.046632,0.046632,0.028557,0.028557,0.028557,0.018075,0.018075,0.018075,0.0,0.0,0.0,1.877706
2196,5,2022-01-05,1.830955,0.345682,3.432874,1.726347,1.934669,0.053476,0.053476,0.053476,0.006627,0.006627,0.006627,0.046850,0.046850,0.046850,0.0,0.0,0.0,1.884431

In [19]:
#set new_id as index
PredictionWaterLevelIn2023.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2023)))
PredictionWaterLevelIn2023.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2557,1,2023-01-01,1.788126,0.157343,3.306402,1.529791,2.066781,-0.027249,-0.027249,-0.027249,0.005210,0.005210,0.005210,-0.032459,-0.032459,-0.032459,0.0,0.0,0.0,1.760877
2558,2,2023-01-02,1.788008,0.255852,3.279723,1.529266,2.067073,-0.064118,-0.064118,-0.064118,-0.039973,-0.039973,-0.039973,-0.024144,-0.024144,-0.024144,0.0,0.0,0.0,1.723890
2559,3,2023-01-03,1.787889,0.321356,3.461337,1.528740,2.067364,0.019200,0.019200,0.019200,0.028557,0.028557,0.028557,-0.009357,-0.009357,-0.009357,0.0,0.0,0.0,1.807089
2560,4,2023-01-04,1.787770,0.264390,3.328950,1.528214,2.067656,0.018439,0.018439,0.018439,0.006627,0.006627,0.006627,0.011812,0.011812,0.011812,0.0,0.0,0.0,1.806209
2561,5,2023-01-05,1.787652,0.189364,3.345270,1.527688,2.067947,0.066295,0.066295,0.066295,0.027184,0.027184,0.027184,0.039111,0.039111,0.039111,0.0,0.0,0.0,1.853946

In [20]:
#set new_id as index
PredictionWaterLevelIn2024.insert(0, 'New_ID', range(1, 1 + len(PredictionWaterLevelIn2024)))
PredictionWaterLevelIn2024.head()

,New_ID,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2922,1,2024-01-01,1.744823,0.025300,3.288134,1.289908,2.233899,-0.073504,-0.073504,-0.073504,-0.039973,-0.039973,-0.039973,-0.033530,-0.033530,-0.033530,0.0,0.0,0.0,1.671319
2923,2,2024-01-02,1.744704,0.142840,3.401165,1.289119,2.234527,0.001727,0.001727,0.001727,0.028557,0.028557,0.028557,-0.026830,-0.026830,-0.026830,0.0,0.0,0.0,1.746431
2924,3,2024-01-03,1.744585,0.101082,3.238820,1.288331,2.235016,-0.007032,-0.007032,-0.007032,0.006627,0.006627,0.006627,-0.013658,-0.013658,-0.013658,0.0,0.0,0.0,1.737554
2925,4,2024-01-04,1.744467,0.268061,3.495376,1.287542,2.235505,0.033116,0.033116,0.033116,0.027184,0.027184,0.027184,0.005933,0.005933,0.005933,0.0,0.0,0.0,1.777583
2926,5,2024-01-05,1.744348,0.004232,3.394874,1.286753,2.235994,-0.017029,-0.017029,-0.017029,-0.048760,-0.048760,-0.048760,0.031731,0.031731,0.031731,0.0,0.0,0.0,1.727320

In [21]:
#rename ds as Date
PredictionWaterLevelIn2022=PredictionWaterLevelIn2022.rename(columns={'ds': 'Date'})
PredictionWaterLevelIn2023=PredictionWaterLevelIn2023.rename(columns={'ds': 'Date'})
PredictionWaterLevelIn2024=PredictionWaterLevelIn2024.rename(columns={'ds': 'Date'})

In [22]:
PredictionWaterLevelIn2024.tail()

,New_ID,Date,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
3282,361,2024-12-26,1.702112,0.037954,3.364489,1.020044,2.456407,0.053966,0.053966,0.053966,0.027184,0.027184,0.027184,0.026783,0.026783,0.026783,0.0,0.0,0.0,1.756079
3283,362,2024-12-27,1.701994,0.003552,3.327596,1.019221,2.457056,-0.043988,-0.043988,-0.043988,-0.048760,-0.048760,-0.048760,0.004772,0.004772,0.004772,0.0,0.0,0.0,1.658006
3284,363,2024-12-28,1.701875,-0.039715,3.407184,1.018398,2.457705,0.008178,0.008178,0.008178,0.021156,0.021156,0.021156,-0.012978,-0.012978,-0.012978,0.0,0.0,0.0,1.710053
3285,364,2024-12-29,1.701757,-0.073149,3.375718,1.017575,2.458349,-0.020550,-0.020550,-0.020550,0.005210,0.005210,0.005210,-0.025760,-0.025760,-0.025760,0.0,0.0,0.0,1.681207
3286,365,2024-12-30,1.701638,0.030953,3.373159,1.016753,2.458987,-0.072959,-0.072959,-0.072959,-0.039973,-0.039973,-0.039973,-0.032985,-0.032985,-0.032985,0.0,0.0,0.0,1.628679

In [23]:
df.dtypes

Date                    datetime64[ns]
Sg. Besut Jerteh (m)           float64
dtype: object

In [24]:
#plotting from 2016 until 2020
#create and configure the figure
PlotAll = figure(
    x_axis_type='datetime',
    plot_width = 800, plot_height = 450,
    x_axis_label='Date', y_axis_label='Water Level (m)')



#Render the water level as step lines
PlotAll.line('Date', 'Sg. Besut Jerteh (m)',legend_label='Water Level',
               line_width=2,
              source=df)




# add hover tool
PlotAll.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Besut Jerteh (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))


# change headline text
PlotAll.title.text = "Water Level in Sungai Besut, Jerteh From 2016 to 2020"

# style the headline
PlotAll.title.text_font_size = "15px"
PlotAll.title.align = "center"
PlotAll.title.text_color = "black"

# apply theme to current document
curdoc().theme = "light_minimal"



#########################################plotting by year######################################################################
#create and configure the figure
plot2020 = figure(
    x_axis_type='datetime', plot_width = 1450, plot_height = 400,
    x_axis_label='Date', y_axis_label='Water Level (m)')

plot2019 = figure(
    x_axis_type='datetime', plot_width = 1450, plot_height = 400,
    x_axis_label='Date', y_axis_label='Water Level (m)')

plot2018 = figure(
    x_axis_type='datetime', plot_width = 1450, plot_height = 400,
    x_axis_label='Date', y_axis_label='Water Level (m)')


#Render the water level as step lines
plot2020.line('Date', 'Sg. Besut Jerteh (m)',legend_label='Water Level in 2020',line_width=2,source=WaterLevelIn2020)
#mean
plot2020.line('Date', df['Sg. Besut Jerteh (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2020)

tab1 = Panel(child=plot2020, title="2020")

plot2019.line('Date', 'Sg. Besut Jerteh (m)',legend_label='Water Level in 2019',line_width=2,source=WaterLevelIn2019)
#mean
plot2019.line('Date', df['Sg. Besut Jerteh (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2019)

tab2 = Panel(child=plot2019, title="2019")

plot2018.line('Date', 'Sg. Besut Jerteh (m)',legend_label='Water Level in 2018',line_width=2,source=WaterLevelIn2018)
#mean
plot2018.line('Date', df['Sg. Besut Jerteh (m)'].mean(),legend_label='Mean of Water Level',line_width=2,
              color='red',source=WaterLevelIn2018)

tab3 = Panel(child=plot2018, title="2018")

tabs = Tabs(tabs=[tab1,tab2,tab3])

# add hover tool
plot2020.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Besut Jerteh (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))
# add hover tool
plot2019.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Besut Jerteh (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))
# add hover tool
plot2018.add_tools(HoverTool(tooltips=[
           ('date', '@Date{%F}'),
           ('Sg. Besut Jerteh (m)', '$y{(0.00)}'),   
            ],
                              
            formatters={'@Date': 'datetime'
                     }))


# change headline text
# style the headline
plot2020.title.text = "Water Level in Sungai Besut, Jerteh in 2020"
plot2020.title.text_font_size = "15px"
plot2020.title.align = "center"
plot2020.title.text_color = "black"

# change headline text
# style the headline
plot2019.title.text = "Water Level in Sungai Besut, Jerteh in 2019"
plot2019.title.text_font_size = "15px"
plot2019.title.align = "center"
plot2019.title.text_color = "black"

# change headline text
# style the headline
plot2018.title.text = "Water Level in Sungai Besut, Jerteh in 2018"
plot2018.title.text_font_size = "15px"
plot2018.title.align = "center"
plot2018.title.text_color = "black"

# apply theme to current document
curdoc().theme = "light_minimal"

######################################bar chart min max#########################################################################

factors = [
    ("2016", "min"), ("2016", "max"),
    ("2017", "min"), ("2017", "max"), 
    ("2018", "min"), ("2018", "max"), 
    ("2019", "min"), ("2019", "max"), 
    ("2020", "min"), ("2020", "max"),

]

barMinMax = figure(x_range=FactorRange(*factors), plot_height=750, x_axis_label='Year', y_axis_label='Water Level (m)')

x = [ 0.22,6.09, #2016
    0.38,8.80,  #2017
     0.61,4.35,  #2018
     0.26,7.58,  #2019
    0.36,5.48]   #2020
barMinMax.vbar(x=factors, top=x, width=0.9)

qs, aves = ["2016", "2017", "2018", "2019","2020"], [6.09, 8.80, 4.35, 7.58,5.48]
barMinMax.line(x=qs, y=aves, color="red", line_width=2,legend_label='Maximun')
barMinMax.circle(x=qs, y=aves, line_color="red", fill_color="white", size=10)

qs, aves = ["2016", "2017", "2018", "2019","2020"], [0.22,0.38, 0.61,0.26,0.36]
barMinMax.line(x=qs, y=aves, color="blue", line_width=1.5,legend_label='Minimun')
barMinMax.circle(x=qs, y=aves, line_color="red", fill_color="white", size=10)

barMinMax.y_range.start = 0
barMinMax.x_range.range_padding = 0.1
barMinMax.xaxis.major_label_orientation = 1
barMinMax.xgrid.grid_line_color = None

# add hover tool
barMinMax.add_tools(HoverTool(tooltips=[
           ('Sg. Besut Jerteh (m)', '$y{(0.00)}'),   
            ]                       
         ))

# change headline text
# style the headline
barMinMax.title.text = "Minimun and Maximun Water Level Sungai Besut, Jerteh"
barMinMax.title.text_font_size = "15px"
barMinMax.title.align = "center"
barMinMax.title.text_color = "black"

#div text
div1 = Paragraph(text="")
######################################future water level######################################################################
PlotAllPrediction = figure(
    x_axis_type='datetime',
    plot_width = 800, plot_height = 450,
    x_axis_label='Date', y_axis_label='Water Level (m)')

PlotAllPrediction.line('ds','yhat',legend_label='Future Water Level Until 2024', 
                    line_width=2, source= FutureWaterLevel)

# add hover tool
PlotAllPrediction.add_tools(HoverTool(tooltips=[('date', '@ds{%F}'),
            ('Sg. Besut Jerteh (m)', '$y')],
          formatters={'@ds': 'datetime'}))


# change headline text
PlotAllPrediction.title.text = "Future Water Level until 2024"

# style the headline
PlotAllPrediction.title.text_font_size = "15px"
PlotAllPrediction.title.align = "center"
PlotAllPrediction.title.text_color = "black"


#div text

div = Div(text="<b>Model Prediction With 0.78% Error Rate</b>")

######################################compare prediction plotting#######################################################################
multi_line_plot1 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot1.line('New_ID','yhat',legend_label='Water Level in 2022', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2022)

multi_line_plot1.line('New_ID','Sg. Besut Jerteh (m)',legend_label='Water Level In 2020', 
                    line_width=2, source= NewWaterLevelIn2020)

tab4 = Panel(child=multi_line_plot1, title="2020 vs 2022")

# add hover tool
multi_line_plot1.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Besut Jerteh (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot1.title.text = "Comparisson Water Level in 2020 with Future Water Level"

# style the headline
multi_line_plot1.title.text_font_size = "15px"
multi_line_plot1.title.align = "center"
multi_line_plot1.title.text_color = "black"

#########################################################2023

multi_line_plot2 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot2.line('New_ID','yhat',legend_label='Water Level in 2023', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2023)

multi_line_plot2.line('New_ID','Sg. Besut Jerteh (m)',legend_label='Water Level In 2020', 
                    line_width=2, source= NewWaterLevelIn2020)

tab5 = Panel(child=multi_line_plot2, title="2020 vs 2023")

# add hover tool
multi_line_plot2.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Besut Jerteh (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot2.title.text = "Comparisson Water Level in 2020 with Future Water Level"

# style the headline
multi_line_plot2.title.text_font_size = "15px"
multi_line_plot2.title.align = "center"
multi_line_plot2.title.text_color = "black"


#########################################################2024
multi_line_plot3 = figure(plot_width=1450,plot_height=500,
                        x_axis_label='Days', y_axis_label='Water Level (m)')


multi_line_plot3.line('New_ID','yhat',legend_label='Water Level in 2024', 
                     color='red',line_width=2, source= PredictionWaterLevelIn2024)

multi_line_plot3.line('New_ID','Sg. Besut Jerteh (m)',legend_label='Water Level In 2020', 
                    line_width=2, source= NewWaterLevelIn2020)

tab6 = Panel(child=multi_line_plot3, title="2020 vs 2024")

# add hover tool
multi_line_plot3.add_tools(HoverTool(tooltips=[('date', '@Date{%F}'),
            ('Sg. Besut Jerteh (m)', '$y')],
          formatters={'@Date': 'datetime'}))

# change headline text
multi_line_plot3.title.text = "Comparisson Water Level in 2020 with Future Water Level"

# style the headline
multi_line_plot3.title.text_font_size = "15px"
multi_line_plot3.title.align = "center"
multi_line_plot3.title.text_color = "black"


tabs2 = Tabs(tabs=[tab4,tab5,tab6],sizing_mode='stretch_both')

#############################################################crosshairtool########################################################
cross1 = CrosshairTool()
PlotAll.add_tools(cross1)

cross1 = CrosshairTool()
plot2020.add_tools(cross1)

cross1 = CrosshairTool()
plot2019.add_tools(cross1)

cross1 = CrosshairTool()
plot2018.add_tools(cross1)


cross1 = CrosshairTool()
PlotAllPrediction.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot1.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot2.add_tools(cross1)

cross1 = CrosshairTool()
multi_line_plot3.add_tools(cross1)
#############################################################plot layout########################################################


# apply theme to current document
curdoc().theme = "light_minimal"

l = layout([
  [PlotAll],
  [tabs],
    [div1],
  [barMinMax],
  [div],
  [PlotAllPrediction],
  [tabs2],
], sizing_mode='stretch_both')

show(l)